@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Roboto", sans-serif;
        @apply bg-violet-900

    }
    .input-form{
        @apply bg-white  placeholder-current placeholder-violet-950/40   border-gray-500   text-center sm:w-3/4 md:w-1/2 lg:w-3/5 mx-auto mt-3 py-2 border-2 rounded-md
    }
    .input-button{
        @apply mb-14 mt-10 p-2 rounded-lg hover:bg-green-800 bg-green-900 text-white transition duration-200 border border-green-800
    }




}
@utility container {
    place-content: center;
    place-self: center;

}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#scrollbars { scrollbar-width: none; }
#scrollbars { -ms-overflow-style: none; }


